<h1 class="mt-4">Tipo de Serviço</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Consulta</li>
</ol>


<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
        {{mensagemSucesso}}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
        {{mensagemErro}}
      </div>
    </div>
  </div>

  <form class="form">
    <div class="row">
      <div class="col-md-1 mr-3 m-1">
        <label for="pesquisar" class="col-form-label ">Pesquisar:</label>
      </div>
      <div class="col-md-3 m-1">
        <input class="form-control" type="text" name="search" id="pesquisar" (keyup)="filtrar($event.target.value)" />
      </div>
      <div class="col-md-5 m-1">
        <button class="btn btn-warning" (click)="novoCadastro()">
          <i class="fa fa-plus"></i> Novo
        </button>
      </div>
    </div>
  </form>

  <br />
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>SERVIÇO</th>
            <th>OBSERVAÇÃO</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let tipoServico of tipoServicos | paginate: { itemsPerPage: 6, currentPage: paginaAtual }; let i = index">
            <td>{{ tipoServico.id }}</td>
            <td>{{ tipoServico.service }}</td>
            <td>{{ tipoServico.observation }}</td>
            <td>
              <button class="btn btn-primary m-1" routerLink="/definicao/tipo/{{ tipoServico.id }}">
                <i class="fa fa-edit"></i>
              </button>

              <button class="btn btn-danger m-1" (click)="preparaDelecao(tipoServico)" data-toggle="modal"
                data-target="#modalDeSelecao">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo">
      </pagination-controls>
    </div>
  </div>

  <div id="modalDeSelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmação</h4>

        </div>
        <div class="modal-body" *ngIf="tipoServicoSelecionado">
          Confirma a exclusão do(a) tipo de serviço: {{ tipoServicoSelecionado.service }}
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" (click)="deletarTipoServico()" data-dismiss="modal"> Confirma</button>
          <button class="btn btn-default" data-dismiss="modal"> Cancela</button>
        </div>
      </div>
    </div>
  </div>

</div>
