<h1 class="mt-4 ">Gráfico</h1>


<div class="row ">
  <div class="col-md-2 container-fluid">
    <div class="form-group">
      <label for="data">Ano:</label>
      <input class="form-control" placeholder="YYYY" type="text" id="data" (change)="buscarPorData($event)" mask="0000"
        name="competencia">
    </div>
  </div>

</div>




<div class="container">


  <div class="chart-container">
    <canvas class="grafico" #meuCanvas></canvas>
  </div>


  <br />
  <div class=row *ngIf="dataSelecionada">
    <button type="button" class="btn btn-primary m-1" (click)="recebido()">
      <i class="fa fa-signal" aria-hidden="true"></i> Recebido por Mês
    </button>
    <button type="button" class="btn btn-secondary m-1" (click)="desconto()">
      <i class="fa fa-signal" aria-hidden="true"></i> Descontos por mês
    </button>
    <button type="button" class="btn btn-success m-1" (click)="acrescimo()">
      <i class="fa fa-signal" aria-hidden="true"></i> Acréscimos por mês
    </button>
    <button type="button" class="btn btn-danger m-1" (click)="servico()">
      <i class="fa fa-signal" aria-hidden="true"></i> Serviços por mês
    </button>
    <button type="button" class="btn btn-warning m-1" (click)="contrato()">
      <i class="fa fa-signal" aria-hidden="true"></i> Valor contratado
    </button>
  </div>
</div>
