


<ul class="nav nav-tabs bg-light mt-4 " >
  <li class="nav-item ">
    <a class="nav-link active " data-toggle="tab" href="#home">Agenda</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu1">Anotação</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu2">Menu</a>
  </li>
</ul>

<div class="containser-fluid">

  <div class="tab-content m-4">
    <div id="home" class="tab-pane  fade in active show">

      
      <!-- <full-calendar [options]="calendarOptions"></full-calendar> -->

      <div class="row">
        <div class="col-md-2 mr-1">
          <div class="form-group">
            <label>
              Data Inicial: *
            </label>
            <input type="text" class="form-control" [ngModel]= "dataInicial"
            placeholder="DD/MM/YYYY"  id="dataInicial" name="dataInicial" mask="00/00/0000"/>
  
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>
              Data Final: *
            </label>
            <input type="text" class="form-control"  [ngModel]= "dataFinal"
            placeholder="DD/MM/YYYY"  id="dataFinal" name="dataFinal" mask="00/00/0000"/>  
          </div>
        </div>  
      </div>   

      <div class="row">
        <div class="col-md-12">
          <table class="table table-condensed table-hover" id="table-home">
            <thead>
              <tr>
                <th>CPF</th>
                <th>CLIENTES</th>                
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let cliente of clientes | paginate: { itemsPerPage: 6, currentPage: paginaAtual };  let i = index">
                <td>{{ cliente.cpf | mask: '000.000.000-99' }}</td>
                <td>{{ cliente.name }}</td>                
                <td>
    
                  <button class="btn btn-primary m-1" routerLink="/clientes/form/{{ cliente.id }}">
                    <i class="fa fa-edit"></i>
                  </button>
    
                  <button class="btn btn-danger m-1" (click)="preparaDelecao(cliente)" data-toggle="modal"
                    data-target="#modalDeSelecao">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
    
          </table>
          <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo">
          </pagination-controls>
        </div>
      </div>
      

    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam.</p>
    </div>
  </div>
</div>
