<h1 class="mt-4">Serviço Prestado</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{servico.id ? 'Edição' : 'Cadastro'}}</li>
</ol>

<div class="container-fluid">
    <form #form="ngForm" (submit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success hidden" role="alert" *ngIf="success == true">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{servico.id ? 'Serviço atualizado com sucesso' : 'Serviço Prestado Salvo com Sucesso!'}}
                </div>

                <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngFor="let erro of errors">
                    {{erro}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="servico.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        ID:
                    </label>
                    <input type="text" class="form-control" disabled="true" [ngModel]="servico.id" name="id" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label >Cliente: *</label>
					<p-dropdown #cli [options]="clientes"  [ngModelOptions]="{standalone:true}" [(ngModel)]="servico.idClient" optionLabel="search" optionValue="id"
                    placeholder="Selecione um cliente..." emptyMessage="nenhum resultado encontrado"
                    emptyFilterMessage="nenhum resultado encontrado" filter="true" [autoDisplayFirst]="false" (onBlur)="clearFilter(cli)" required
                    [style]="{width : '100%' }"></p-dropdown>
                    <!-- <select class="form-control"  [ngModelOptions]="{standalone:true}"  [(ngModel)]="servico.idClient">
                        <option value="">Selecione...</option>
                        <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
                            {{cliente.id +" - "+ cliente.name }}
                        </option>
                    </select> -->
                </div>
            </div>
        </div>

        <div class=row>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Tipo Serviço: *</label>
                    <p-dropdown #ser [options]="tipoServico"  [ngModelOptions]="{standalone:true}" [(ngModel)]="servico.idTypeService" optionLabel="search"  optionValue="id"
                    placeholder="Selecione um tipo de serviço..." emptyMessage="nenhum resultado encontrado"
                    emptyFilterMessage="nenhum resultado encontrado" filter="true" [autoDisplayFirst]="false" (onBlur)="clearFilter(ser)" required
                    [style]="{width : '100%' }"></p-dropdown>
                    <!-- <select class="form-control" [ngModelOptions]="{standalone:true}"
                        [(ngModel)]="servico.idTypeService">
                        <option value="">Selecione...</option>
                        <option *ngFor="let tipoServicos of tipoServico" [ngValue]="tipoServicos.id">
                            {{tipoServicos.id +" - " +tipoServicos.service }}
                        </option>
                    </select> -->
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Descrição: *</label>
                    <textarea class="form-control" Maxlength="1200" id="descricaoServico" rows="4" [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="servico.description"></textarea>
                    <!-- <input class="form-control" [(ngModel)]="servico.description" type="text" name="description"
                        id="inputDescription"> -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data Contrato: *</label>
                    <input class="form-control" autocomplete="off" [(ngModel)]="servico.date" placeholder="DD/MM/YYYY" mask="00/00/0000"
                        type="text" name="date" id="inputData">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Valor Inicial: *</label>
                    <input class="form-control" autocomplete="off" [(ngModel)]="servico.value" type="text" name="value" id="inputValue"
                        mask="separator.2" thousandSeparator="." prefix="R$ ">
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div [class.spinner-border]="isLoading" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

        <div class="row" *ngIf="!isLoading">
            <div class="col-md-4">
                <button type="submit" class="btn btn-success m-1" *ngIf="!servico.id">
                    <i class="fa fa-save"></i> Salvar
                </button>
                <button type="submit" class="btn btn-primary m-1 " *ngIf="servico.id">
                    <i class="fa fa-sync-alt"></i> Atualizar
                </button>
                <button type="button" routerLink="/servicos-prestados/lista" class="btn btn-danger m-1">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>

            </div>
        </div>
    </form>
</div>