<h1 class="mt-4">Tipo de Pagamento</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{tipoPagamento.id ? 'Edição' :'Cadastro'}}</li>
</ol>

<div class="container-fluid">
    <form #tipoPagamentoForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success hidden" role="alert" *ngIf="success == true">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{mensagemSucesso}}
                </div>

                <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngFor="let erro of errors">
                    {{erro}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="tipoPagamento.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        ID:
                    </label>
                    <input type="text" class="form-control" disabled="true" [ngModel]="tipoPagamento.id" name="id" />
                </div>
            </div>
        </div>



        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        Tipo
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="tipoPagamento.type" name="type" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        Observação:
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="tipoPagamento.observation"
                        name="observation" />
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div [class.spinner-border]="isLoading" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        
        <div class="row" *ngIf="!isLoading">
            <div class="col-md-4">
                <button type="submit" class="btn btn-success m-1 " *ngIf="!tipoPagamento.id">
                    <i class="fa fa-save"></i> Salvar
                </button>
                <button type="submit" class="btn btn-primary m-1 " *ngIf="tipoPagamento.id">
                    <i class="fa fa-sync-alt"></i> Atualizar
                </button>
                <button type="button" class="btn btn-danger m-1" (click)="voltarParaListagem()">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>

            </div>

        </div>

    </form>
</div>