<h1 class="mt-4">Prestação de Contas</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>


<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success hidden" role="alert" *ngIf="success == true">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {{mensagemSucesso}}
            </div>

            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngFor="let erro of errors">
                {{erro}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="alert alert-warning hidden" role="alert" *ngIf="alertInf != null">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {{alertInf}}
            </div>
        </div>
    </div>


    <div class="row ">
        <div class="col-lg-2 col-md-4  mr-1">
            <div class="form-group">
                <label>
                    Data Pag. Inicial: *
                </label>
                <input type="text" class="form-control" [(ngModel)]="dateInitial" placeholder="DD/MM/YYYY"
                    id="dateInitial" name="dateInitial" mask="00/00/0000"  autocomplete="off"/>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 ">
            <div class="form-group">
                <label>
                    Data Pag. Final: *
                </label>
                <input type="text" class="form-control" [(ngModel)]="dateFinal" placeholder="DD/MM/YYYY" id="dateFinal"
                    mask="00/00/0000" name="dateFinal" autocomplete="off" />
            </div>
        </div>
        <div class="col-lg-6 col-md-6  align-self-center pt-3 mb-2">
            <button type="button" class="btn btn-primary " (click)="mostrarPrestacoes()">
                <i class="fa fa-eye"></i> Mostrar
            </button>
            <button class="btn btn-warning ml-2" (click)="novoCadastro()">
                <i class="fa fa-plus"></i> Novo
            </button>
            <button class="btn btn-info ml-2" (click)="ativarPesquisa()">
                <i class="fa fa-search" ></i> pesquisar
            </button>
        </div>

       
    </div>

    <div class="row ">
        <div class="col-lg-4 col-md-4" *ngIf="isSearch">
            <div class="form-group">                
                <input class="form-control" type="text" name="search" id="pesquisar"
                placeholder="Digite sua pesquisa aqui..." autocomplete="off"
                    (keyup)="filtrar($event.target.value)" />
            </div>
        </div>
    </div>



    <!-- 

      <form class="form">
        <div class="row">
            <div class="col-md-1 mr-3 m-1">
                <label for="pesquisar" class="col-form-label ">Pesquisar:</label>
            </div>
            <div class="col-md-3 m-1">
                <input class="form-control" type="text" name="search" id="pesquisar"
                    (keyup)="filtrar($event.target.value)" />
            </div>
            <div class="col-md-5 m-1">
                <button class="btn btn-warning" (click)="novoCadastro()">
                    <i class="fa fa-plus"></i> Novo
                </button>
            </div>
        </div>
    </form> -->




    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo de serviço</th>
                        <!-- <th>Serviço Prestado</th> -->
                        <th>Cliente</th>
                        <th>Tipo de Pagamento</th>
                        <th>Data Pag.</th>
                        <th>Desconto</th>
                        <th>Acrescimo</th>
                        <th>Valor Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngIf="!isLoading">
                    <tr
                        *ngFor="let prestacaoConta of prestacaoContas | paginate: { itemsPerPage: 6, currentPage: paginaAtual }; let i = index">
                        <td>{{ prestacaoConta.id }}</td>
                        <td>{{ prestacaoConta.serviceProvided.typeService.service }}</td>
                        <!-- <td>{{ prestacaoConta.serviceProvided.description }}</td> -->
                        <td>{{ prestacaoConta.serviceProvided.client.name }}</td>
                        <td>{{ prestacaoConta.typePayment.type }}</td>
                        <td>{{ converToDateFormat(prestacaoConta.datePayment)  }}</td>
                        <td>R$ {{ prestacaoConta.discountValue | mask: 'separator':',' }}</td>
                        <td>R$ {{ prestacaoConta.additionValue | mask: 'separator':',' }}</td>
                        <td>R$ {{ prestacaoConta.totalValue | mask: 'separator':',' }}</td>
                        <td>
                            <button class="btn btn-primary m-1" routerLink="/prestacao/conta/{{ prestacaoConta.id }}">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button class="btn btn-secondary m-1"
                                routerLink="/prestacao/conta/{{ prestacaoConta.id}}/true">
                                <i class="fa fa-print" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-danger m-1" (click)="preparaDelecao(prestacaoConta)"
                                data-toggle="modal" data-target="#modalDeSelecao">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls *ngIf="!isLoading" (pageChange)="paginaAtual = $event" previousLabel="Anterior"
                nextLabel="Próximo"></pagination-controls>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div [class.spinner-border]="isLoading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div id="modalDeSelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>

                </div>
                <div class="modal-body" *ngIf="prestacaoContasSelecionado">
                    Confirma a exclusão do(a) prestação de contas de ID: {{ prestacaoContasSelecionado.id }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarPrestacaoConta()" data-dismiss="modal">
                        Confirma</button>
                    <button class="btn btn-default" data-dismiss="modal"> Cancela</button>
                </div>
            </div>
        </div>
    </div>

</div>